In [4]:
import os

file_path1 = '../data/raw/Data Set calidad a nivel nacional/recuento-de-celulas-somaticas-promedio-nacional.csv'
file_path2 = '../data/raw/Data Set calidad a nivel nacional/unidades-formadoras-de-colonias-promedio-nacional.csv'
file_path3 = '../data/raw/Data Set calidad a nivel provincial/recuento-de-celulas-somaticas-promedio-por-provincia.csv'
file_path4 = '../data/raw/Data Set calidad a nivel provincial/unidades-formadoras-de-colonias-promedio-por-provincia.csv'

# Comprobar si el archivo existe
if os.path.exists(file_path1):
    print("El archivo existe en la ruta especificada.")
else:
    print("El archivo no se encuentra en la ruta especificada.")

if os.path.exists(file_path2):
    print("El archivo existe en la ruta especificada.")
else:
    print("El archivo no se encuentra en la ruta especificada.")

if os.path.exists(file_path3):
    print("El archivo existe en la ruta especificada.")
else:
    print("El archivo no se encuentra en la ruta especificada.")

if os.path.exists(file_path4):
    print("El archivo existe en la ruta especificada.")
else:
    print("El archivo no se encuentra en la ruta especificada.")

El archivo existe en la ruta especificada.
El archivo existe en la ruta especificada.
El archivo existe en la ruta especificada.
El archivo existe en la ruta especificada.

In [5]:
import pandas as pd

#Cargamos cada uno de los datasets
df_ccs_nacional = pd.read_csv(file_path1, encoding= "latin1")
df_ufc_nacional = pd.read_csv(file_path2, encoding= "latin1")
df_ccs_provincial = pd.read_csv(file_path3, encoding= "latin1")
df_ufc_provincial = pd.read_csv(file_path4, encoding= "latin1")

print(df_ccs_nacional.head())
print(df_ufc_nacional.head())
print(df_ccs_provincial.head())
print(df_ufc_provincial.head())

  indice-de-tiempo  pais_id       pais  producto_id     producto  \
0           2013-1       32  Argentina         2211  Leche cruda
1           2013-2       32  Argentina         2211  Leche cruda
2           2013-3       32  Argentina         2211  Leche cruda
3           2013-4       32  Argentina         2211  Leche cruda
4           2013-5       32  Argentina         2211  Leche cruda

   unidad_de medida  cantidad
0  miles de células       448
1  miles de células       450
2  miles de células       417
3  miles de células       410
4  miles de células       388
  indice-de-tiempo  pais_id       pais  producto_id     producto  \
0           2013-1       32  Argentina         2211  Leche cruda
1           2013-2       32  Argentina         2211  Leche cruda
2           2013-3       32  Argentina         2211  Leche cruda
3           2013-4       32  Argentina         2211  Leche cruda
4           2013-5       32  Argentina         2211  Leche cruda

    unidad_de medida  cantidad
0  miles de unidades       131
1  miles de unidades       137
2  miles de unidades       119
3  miles de unidades       122
4  miles de unidades       108
  indice-de-tiempo  pais_id       pais  provincia_id     provincia  \
0          2014-01       32  Argentina             6  Buenos Aires
1          2014-02       32  Argentina             6  Buenos Aires
2          2014-03       32  Argentina             6  Buenos Aires
3          2014-04       32  Argentina             6  Buenos Aires
4          2014-05       32  Argentina             6  Buenos Aires

   producto_id     producto  unidad_de medida  cantidad
0         2211  Leche cruda  miles de células       447
1         2211  Leche cruda  miles de células       483
2         2211  Leche cruda  miles de células       476
3         2211  Leche cruda  miles de células       467
4         2211  Leche cruda  miles de células       467
  indice-de-tiempo  pais_id       pais  provincia_id     provincia  \
0          2014-01       32  Argentina             6  Buenos Aires
1          2014-02       32  Argentina             6  Buenos Aires
2          2014-03       32  Argentina             6  Buenos Aires
3          2014-04       32  Argentina             6  Buenos Aires
4          2014-05       32  Argentina             6  Buenos Aires

   producto_id     producto   unidad_de medida  cantidad
0         2211  Leche cruda  miles de unidades       109
1         2211  Leche cruda  miles de unidades       121
2         2211  Leche cruda  miles de unidades       115
3         2211  Leche cruda  miles de unidades       117
4         2211  Leche cruda  miles de unidades        90

In [6]:
df_ccs_nacional['fecha'] = pd.to_datetime(df_ccs_nacional['indice-de-tiempo'])
df_ufc_nacional['fecha'] = pd.to_datetime(df_ufc_nacional['indice-de-tiempo'])
df_ccs_provincial['fecha'] = pd.to_datetime(df_ccs_provincial['indice-de-tiempo'])
df_ufc_provincial['fecha'] = pd.to_datetime(df_ufc_provincial['indice-de-tiempo'])

df_ccs_nacional = df_ccs_nacional[df_ccs_nacional['fecha'].dt.year > 2013]
df_ufc_nacional = df_ufc_nacional[df_ufc_nacional['fecha'].dt.year > 2013]

print(df_ccs_nacional.head())
print(df_ufc_nacional.head())
print(df_ccs_provincial.head())
print(df_ufc_provincial.head())

   indice-de-tiempo  pais_id       pais  producto_id     producto  \
12           2014-1       32  Argentina         2211  Leche cruda
13           2014-2       32  Argentina         2211  Leche cruda
14           2014-3       32  Argentina         2211  Leche cruda
15           2014-4       32  Argentina         2211  Leche cruda
16           2014-5       32  Argentina         2211  Leche cruda

    unidad_de medida  cantidad      fecha
12  miles de células       433 2014-01-01
13  miles de células       487 2014-02-01
14  miles de células       524 2014-03-01
15  miles de células       495 2014-04-01
16  miles de células       471 2014-05-01
   indice-de-tiempo  pais_id       pais  producto_id     producto  \
12           2014-1       32  Argentina         2211  Leche cruda
13           2014-2       32  Argentina         2211  Leche cruda
14           2014-3       32  Argentina         2211  Leche cruda
15           2014-4       32  Argentina         2211  Leche cruda
16           2014-5       32  Argentina         2211  Leche cruda

     unidad_de medida  cantidad      fecha
12  miles de unidades       123 2014-01-01
13  miles de unidades       165 2014-02-01
14  miles de unidades       120 2014-03-01
15  miles de unidades       125 2014-04-01
16  miles de unidades       102 2014-05-01
  indice-de-tiempo  pais_id       pais  provincia_id     provincia  \
0          2014-01       32  Argentina             6  Buenos Aires
1          2014-02       32  Argentina             6  Buenos Aires
2          2014-03       32  Argentina             6  Buenos Aires
3          2014-04       32  Argentina             6  Buenos Aires
4          2014-05       32  Argentina             6  Buenos Aires

   producto_id     producto  unidad_de medida  cantidad      fecha
0         2211  Leche cruda  miles de células       447 2014-01-01
1         2211  Leche cruda  miles de células       483 2014-02-01
2         2211  Leche cruda  miles de células       476 2014-03-01
3         2211  Leche cruda  miles de células       467 2014-04-01
4         2211  Leche cruda  miles de células       467 2014-05-01
  indice-de-tiempo  pais_id       pais  provincia_id     provincia  \
0          2014-01       32  Argentina             6  Buenos Aires
1          2014-02       32  Argentina             6  Buenos Aires
2          2014-03       32  Argentina             6  Buenos Aires
3          2014-04       32  Argentina             6  Buenos Aires
4          2014-05       32  Argentina             6  Buenos Aires

   producto_id     producto   unidad_de medida  cantidad      fecha
0         2211  Leche cruda  miles de unidades       109 2014-01-01
1         2211  Leche cruda  miles de unidades       121 2014-02-01
2         2211  Leche cruda  miles de unidades       115 2014-03-01
3         2211  Leche cruda  miles de unidades       117 2014-04-01
4         2211  Leche cruda  miles de unidades        90 2014-05-01

In [7]:
df_ccs_nacional = df_ccs_nacional.rename(columns={'cantidad': 'ccs_promedio_nacional'})
df_ufc_nacional = df_ufc_nacional.rename(columns={'cantidad': 'ufc_promedio_nacional'})
df_ccs_provincial = df_ccs_provincial.rename(columns={'cantidad': 'ccs_promedio_provincial'})
df_ufc_provincial = df_ufc_provincial.rename(columns={'cantidad': 'ufc_promedio_provincial'})
print(df_ccs_nacional.head())
print(df_ufc_nacional.head())
print(df_ccs_provincial.head())
print(df_ufc_provincial.head())

   indice-de-tiempo  pais_id       pais  producto_id     producto  \
12           2014-1       32  Argentina         2211  Leche cruda
13           2014-2       32  Argentina         2211  Leche cruda
14           2014-3       32  Argentina         2211  Leche cruda
15           2014-4       32  Argentina         2211  Leche cruda
16           2014-5       32  Argentina         2211  Leche cruda

    unidad_de medida  ccs_promedio_nacional      fecha
12  miles de células                    433 2014-01-01
13  miles de células                    487 2014-02-01
14  miles de células                    524 2014-03-01
15  miles de células                    495 2014-04-01
16  miles de células                    471 2014-05-01
   indice-de-tiempo  pais_id       pais  producto_id     producto  \
12           2014-1       32  Argentina         2211  Leche cruda
13           2014-2       32  Argentina         2211  Leche cruda
14           2014-3       32  Argentina         2211  Leche cruda
15           2014-4       32  Argentina         2211  Leche cruda
16           2014-5       32  Argentina         2211  Leche cruda

     unidad_de medida  ufc_promedio_nacional      fecha
12  miles de unidades                    123 2014-01-01
13  miles de unidades                    165 2014-02-01
14  miles de unidades                    120 2014-03-01
15  miles de unidades                    125 2014-04-01
16  miles de unidades                    102 2014-05-01
  indice-de-tiempo  pais_id       pais  provincia_id     provincia  \
0          2014-01       32  Argentina             6  Buenos Aires
1          2014-02       32  Argentina             6  Buenos Aires
2          2014-03       32  Argentina             6  Buenos Aires
3          2014-04       32  Argentina             6  Buenos Aires
4          2014-05       32  Argentina             6  Buenos Aires

   producto_id     producto  unidad_de medida  ccs_promedio_provincial  \
0         2211  Leche cruda  miles de células                      447
1         2211  Leche cruda  miles de células                      483
2         2211  Leche cruda  miles de células                      476
3         2211  Leche cruda  miles de células                      467
4         2211  Leche cruda  miles de células                      467

       fecha
0 2014-01-01
1 2014-02-01
2 2014-03-01
3 2014-04-01
4 2014-05-01
  indice-de-tiempo  pais_id       pais  provincia_id     provincia  \
0          2014-01       32  Argentina             6  Buenos Aires
1          2014-02       32  Argentina             6  Buenos Aires
2          2014-03       32  Argentina             6  Buenos Aires
3          2014-04       32  Argentina             6  Buenos Aires
4          2014-05       32  Argentina             6  Buenos Aires

   producto_id     producto   unidad_de medida  ufc_promedio_provincial  \
0         2211  Leche cruda  miles de unidades                      109
1         2211  Leche cruda  miles de unidades                      121
2         2211  Leche cruda  miles de unidades                      115
3         2211  Leche cruda  miles de unidades                      117
4         2211  Leche cruda  miles de unidades                       90

       fecha
0 2014-01-01
1 2014-02-01
2 2014-03-01
3 2014-04-01
4 2014-05-01

In [8]:
df_ccs_nacional = df_ccs_nacional.drop(['pais_id', 'pais', 'producto_id', 'producto','indice-de-tiempo'], axis=1)
print(df_ccs_nacional.head())

    unidad_de medida  ccs_promedio_nacional      fecha
12  miles de células                    433 2014-01-01
13  miles de células                    487 2014-02-01
14  miles de células                    524 2014-03-01
15  miles de células                    495 2014-04-01
16  miles de células                    471 2014-05-01

In [9]:
df_ufc_nacional = df_ufc_nacional.drop(['pais_id', 'pais', 'producto_id', 'producto','indice-de-tiempo'], axis=1)
print(df_ufc_nacional.head())

     unidad_de medida  ufc_promedio_nacional      fecha
12  miles de unidades                    123 2014-01-01
13  miles de unidades                    165 2014-02-01
14  miles de unidades                    120 2014-03-01
15  miles de unidades                    125 2014-04-01
16  miles de unidades                    102 2014-05-01

In [10]:
df_ccs_provincial = df_ccs_provincial.drop(['pais_id', 'pais', 'producto_id', 'producto','indice-de-tiempo', 'provincia_id'], axis=1)
print(df_ccs_provincial.head())

      provincia  unidad_de medida  ccs_promedio_provincial      fecha
0  Buenos Aires  miles de células                      447 2014-01-01
1  Buenos Aires  miles de células                      483 2014-02-01
2  Buenos Aires  miles de células                      476 2014-03-01
3  Buenos Aires  miles de células                      467 2014-04-01
4  Buenos Aires  miles de células                      467 2014-05-01

In [11]:
df_ufc_provincial = df_ufc_provincial.drop(['pais_id', 'pais', 'producto_id', 'producto','indice-de-tiempo', 'provincia_id'], axis=1)
print(df_ufc_provincial.head())

      provincia   unidad_de medida  ufc_promedio_provincial      fecha
0  Buenos Aires  miles de unidades                      109 2014-01-01
1  Buenos Aires  miles de unidades                      121 2014-02-01
2  Buenos Aires  miles de unidades                      115 2014-03-01
3  Buenos Aires  miles de unidades                      117 2014-04-01
4  Buenos Aires  miles de unidades                       90 2014-05-01

In [12]:
df_ccs_nacional = df_ccs_nacional.drop(['unidad_de medida'], axis=1)
df_ufc_nacional = df_ufc_nacional.drop(['unidad_de medida'], axis=1)
df_ccs_provincial = df_ccs_provincial.drop(['unidad_de medida'], axis=1)
df_ufc_provincial = df_ufc_provincial.drop(['unidad_de medida'], axis=1)
print(df_ccs_nacional.head())
print(df_ufc_nacional.head())
print(df_ccs_provincial.head())
print(df_ufc_provincial.head())

    ccs_promedio_nacional      fecha
12                    433 2014-01-01
13                    487 2014-02-01
14                    524 2014-03-01
15                    495 2014-04-01
16                    471 2014-05-01
    ufc_promedio_nacional      fecha
12                    123 2014-01-01
13                    165 2014-02-01
14                    120 2014-03-01
15                    125 2014-04-01
16                    102 2014-05-01
      provincia  ccs_promedio_provincial      fecha
0  Buenos Aires                      447 2014-01-01
1  Buenos Aires                      483 2014-02-01
2  Buenos Aires                      476 2014-03-01
3  Buenos Aires                      467 2014-04-01
4  Buenos Aires                      467 2014-05-01
      provincia  ufc_promedio_provincial      fecha
0  Buenos Aires                      109 2014-01-01
1  Buenos Aires                      121 2014-02-01
2  Buenos Aires                      115 2014-03-01
3  Buenos Aires                      117 2014-04-01
4  Buenos Aires                       90 2014-05-01

In [13]:
# Unificar datasets a nivel nacional
df_nacional = pd.merge(df_ccs_nacional, df_ufc_nacional, on='fecha')

# Unificar datasets a nivel provincial
df_provincial = pd.merge(df_ccs_provincial, df_ufc_provincial, on=['fecha', 'provincia'])

print(df_nacional.head())
print(df_provincial.head())

   ccs_promedio_nacional      fecha  ufc_promedio_nacional
0                    433 2014-01-01                    123
1                    487 2014-02-01                    165
2                    524 2014-03-01                    120
3                    495 2014-04-01                    125
4                    471 2014-05-01                    102
      provincia  ccs_promedio_provincial      fecha  ufc_promedio_provincial
0  Buenos Aires                      447 2014-01-01                      109
1  Buenos Aires                      483 2014-02-01                      121
2  Buenos Aires                      476 2014-03-01                      115
3  Buenos Aires                      467 2014-04-01                      117
4  Buenos Aires                      467 2014-05-01                       90

In [14]:
df_final_nacional = df_nacional[['fecha', 'ccs_promedio_nacional', 'ufc_promedio_nacional']]
print(df_final_nacional.head())
print(df_final_nacional.tail())

       fecha  ccs_promedio_nacional  ufc_promedio_nacional
0 2014-01-01                    433                    123
1 2014-02-01                    487                    165
2 2014-03-01                    524                    120
3 2014-04-01                    495                    125
4 2014-05-01                    471                    102
        fecha  ccs_promedio_nacional  ufc_promedio_nacional
59 2018-12-01                    423                    122
60 2019-01-01                    419                    110
61 2019-02-01                    452                     99
62 2019-03-01                    432                     85
63 2019-04-01                    406                     80

In [15]:
df_final_nacional.to_csv('df_final_nacional.csv', index=False)

In [16]:
df_final_provincial = df_provincial[['fecha', 'provincia','ccs_promedio_provincial', 'ufc_promedio_provincial']]
print(df_final_provincial.head())
print(df_final_provincial.tail())

       fecha     provincia  ccs_promedio_provincial  ufc_promedio_provincial
0 2014-01-01  Buenos Aires                      447                      109
1 2014-02-01  Buenos Aires                      483                      121
2 2014-03-01  Buenos Aires                      476                      115
3 2014-04-01  Buenos Aires                      467                      117
4 2014-05-01  Buenos Aires                      467                       90
         fecha            provincia  ccs_promedio_provincial  \
379 2018-12-01  Santiago del Estero                      401
380 2019-01-01  Santiago del Estero                      456
381 2019-02-01  Santiago del Estero                      509
382 2019-03-01  Santiago del Estero                      445
383 2019-04-01  Santiago del Estero                      443

     ufc_promedio_provincial
379                       90
380                      129
381                       82
382                       62
383                       81

In [17]:
df_final_provincial.to_csv('df_final_provincial.csv', index=False)